<app-menu-header></app-menu-header>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse">
  <p style="color:white;font-size: 20px;text-align: center;">Please wait...</p>
</ngx-spinner>
<ion-content>
  <div class="dashboard-container">
    <p class="quick-action">Outlets</p>
    
    <ion-item class="search-item" >
      <ion-input name="search" placeholder="Search Outlets"[(ngModel)]="searchTerm" (ngModelChange)="filterOutlets()"class="search-input" >
        <ion-icon slot="start" src="../../../assets/Images/search.svg" name="search-outline" class="search-icon"></ion-icon>
      </ion-input>
    </ion-item>

    <div *ngFor="let outlet of filteredOutlets | filterByStatus:'Active' | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
      <div >
        <ion-card>
          <ion-grid 
           
           >
            <ion-row>
              <ion-col size="8">
                <!--Header-->
                <span class="detail-header font-weight">{{outlet.organisationName}}</span>
               

                <br>
                <!--Details-->
                <span class="info-time" [innerHTML]="outlet.ecpNumber"></span>
                <p >{{outlet.licenseCategory}}</p>

              </ion-col>
              <ion-col size="4" class="centered-col position-relative">
                <ion-img src="../../../assets/Images/dots.svg" class="inspect-tick" (click)="presentAlert(outlet)"></ion-img>
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
      
    </div>
    </div>
    <div class="mt-1 text-center" *ngIf="filteredOutlets.length >0">
      <pagination-controls 
  style="font-size: 11px" 
  (pageChange)="p = $event" 
  [maxSize]="5">
</pagination-controls>
  </div>
  
</ion-content>
