<ion-content>
 
  <div class="header-container">
    <a><img src="assets/Images/Back Icon.svg" class="back-Arrow" (click)="navigateToBack()"></a>
    <h1 class="header-text" style="color: black;">Issue Section 28 Notice</h1>
  </div>
  <div class="containers">
  <span class="inspection-report"> Comment</span>
  <form [formGroup]="changeOfNameForm">
    
    <ion-item>
      <ion-input class="custom-input" type="text" formControlName="newName" placeholder="Type Commment"></ion-input>
    </ion-item>
   
    <span class="inspection-report">Attach Section 28 Notice</span>
    <ion-card class="upload" (click)="selectFileNotice()">
      <ion-img src="../../../assets/Images/uploads.svg"></ion-img>
      <span>Click to upload</span>
      <span>DOCX or PDF</span>
      <input type="file" #fileInput (change)="onFileSelectedRecommendation($event)" accept=".docx, .pdf" style="display: none;">
    </ion-card>
    <ion-card *ngIf="noticeFiles.length > 0" class="upload2">
      <div class="header-content2">
        <ion-card-title>{{ noticeFiles[0].name }}</ion-card-title>
        <ion-img src="../../../assets/Images/Trash.svg" (click)="presentAlertConfirmNotice(0)" class=""></ion-img>
      </div>
      <span>{{ (noticeFiles[0].size / 1024).toFixed(2) }} KB</span>
    </ion-card>
    <ion-card *ngIf="noticeFiles.length === 0" class="upload2">
      <span>No file uploaded</span>
    </ion-card>


    <div class="button-container">
      <ion-button class="buttonClass" (click)="submit()" [disabled]="!changeOfNameForm.valid">Submit</ion-button>

    </div>

  </form>

</div>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-clip-rotate-pulse">
<p style="color:white;font-size: 20px;text-align: center;">Please wait...</p>
</ngx-spinner>
</ion-content>

<app-menu-footer></app-menu-footer>
